.meus-filmes{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.meus-filmes h1{
    margin-bottom: 14px;
}

.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.meus-filmes div a{
    text-decoration: none;
    color: #116feb;
    margin-right: 14px;
}

.meus-filmes button {
    background-color: #116feb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meus-filmes button:hover {
    background-color: #0b5496;
}