
.not-found{
    font-family: sans-serif;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found h1{
    font-size: 120px;
}

.not-found a{
    text-decoration: none;
    background-color: #116feb;
    color: #FFF;
    padding: 10px;
    margin-top: 14px;
    border-radius: 8px;
    transition: all 0.5s;
}

.not-found a:hover{    
    color: #000;
}